<div class="view">
  <cdk-virtual-scroll-viewport class="view__scrollbar">
    <div class="view__home">
      <app-home></app-home>
      <div class="chart">
        <app-bar-chart></app-bar-chart>
      </div>
      <div class="cp-box">
        <div class="chart chart_width">
          <app-doughnut-chart></app-doughnut-chart>
        </div>
        <div class="chart chart_width">
          <app-doughnut-chart></app-doughnut-chart>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

