<div class="top">
  <div class="top-title">商品類別管理</div>
  <div class="top-nav">
      <div class="top-nav__box">
          <button type="button" class="top-nav__box-button" (click)="emitButton(true)">+ Add</button>
      </div>
      <div class="top-nav__box">
          <ul class="top-nav__box-page">
              <div id="pageid"></div>
          </ul>
      </div>
  </div>
</div>
<div class="middle">
  <ul class="middle-list">
      <li class="middle-list__title">
          <div>
              <p>編號</p>
          </div>
          <div>
              <p>商品名稱</p>
          </div>
          <div>
              <p>刪除</p>
          </div>
          <div>
              <p>編輯</p>
          </div>
      </li>
      <ol class="middle-list__content">
          <div id="Initdata$" class="middle-list__content-box">
              <li class="middle-list__content-item" *ngFor="let item of this.pipeData$ | async">
                  <div>
                      <p>{{item.id}}</p>
                  </div>
                  <div>
                      <p>{{item.name}}</p>
                  </div>
                  <div>
                      <img src="../../../../assets/icons/mail_trash_can.png" alt="">
                  </div>
                  <div>
                      <img src=".../../../../assets/icons/edit.png" alt=""  (click)="emitEditValue(true, item)">
                  </div>
              </li>
          </div>
          <!-- <div class="spinner-box">
              <div class="spinner-box__circle">
                  <span>Loading...</span>
              </div>
          </div> -->
          <!-- 以下是沒有資料時顯示的,有先用display: none; -->
          <div class="middle-list__content-none-data" id="noData">尚無資料</div>
      </ol>
  </ul>
</div>
