<div class="view">
  <div class="view__title">
    <span>Dashboard</span>
  </div>
  <div class="view__grid">
    <div class="view__grid-box view__grid-box_pink">
      <div class="view__grid-box-item">
        <p class="view__grid-box-item-value">0</p>
        <p class="view__grid-box-item-title">Daily Visits</p>
      </div>
      <div class="view__grid-box-icon">
        <img src="../../../../assets/icons/views.png" alt="">
      </div>
    </div>
    <div class="view__grid-box view__grid-box_purple">
      <div class="view__grid-box-item">
        <p class="view__grid-box-item-value" id="sales">1056</p>
        <p class="view__grid-box-item-title">Sales</p>
      </div>
      <div class="view__grid-box-icon">
        <img src="../../../../assets/icons/money.png" alt="">
      </div>
    </div>
    <div class="view__grid-box view__grid-box_blue">
      <div class="view__grid-box-item">
        <p class="view__grid-box-item-value">0</p>
        <p class="view__grid-box-item-title">New Orders</p>
      </div>
      <div class="view__grid-box-icon">
        <img src="../../../../assets/icons/tag.png" alt="">
      </div>
    </div>
    <div class="view__grid-box view__grid-box_green">
      <div class="view__grid-box-item">
        <p class="view__grid-box-item-value">0</p>
        <p class="view__grid-box-item-title">New User</p>
      </div>
      <div class="view__grid-box-icon">
        <img src="../../../../assets/icons/message.png" alt="">
      </div>
    </div>
  </div>
</div>

